<mat-toolbar>
  <span><a id="site-title" routerLink="/accueil">Parc d'attraction</a></span>
  <div>
    <button mat-stroked-button routerLink="/critiques">Critiques</button>
  </div>
  <div *ngIf="!authService.isLoggedIn">
    <button mat-stroked-button routerLink="/login">Connexion</button>
  </div>
  <div *ngIf="authService.isLoggedIn">
    <button mat-stroked-button routerLink="/admin">Admin</button>
  </div>
  <div id="deconnection-button" *ngIf="authService.isLoggedIn">
    <button mat-stroked-button (click)="logout()">Déconnexion</button>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>
