mat-card {
  margin: 20px;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

mat-card-header {
  background-color: #f5f5f5;
  padding: 10px;
}

mat-card-title {
  font-size: 24px;
  font-weight: bold;
}

mat-card-content {
  padding: 10px;
}

.attraction-title {
  font-size: 18px;
  font-weight: 500;
  background-color: darkgrey;
  width: fit-content;
  margin-top: 25px;
}
.attraction {
  display: flex;
  align-items: center;
  column-gap: 25px;
  width: fit-content;

  border-bottom: solid 1px grey;
  span {
    padding: 5px;
    width: 250px;
  }
  .champ {
    padding: 5px;
    margin-top: 21.5px;
    width: 250px;
  }

  button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  button:hover {
    background-color: #008CBA;
    color: white;
  }
}

